Sources/Web References/com.yurisw.app/YAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://yurisw.com/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://yurisw.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Address Correction, Validation, Standardization and Geocoding</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://yurisw.com/WebServices">
      <s:element name="Process">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessResult" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateFP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountyFP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CensusTract" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CensusBlock" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="GeocodePrecision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Address" nillable="true" type="tns:Address" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessSoapIn">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="ProcessSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpGetIn">
    <wsdl:part name="AddressLine1" type="s:string" />
    <wsdl:part name="AddressLine2" type="s:string" />
    <wsdl:part name="UserKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpGetOut">
    <wsdl:part name="Body" element="tns:Address" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpPostIn">
    <wsdl:part name="AddressLine1" type="s:string" />
    <wsdl:part name="AddressLine2" type="s:string" />
    <wsdl:part name="UserKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcessHttpPostOut">
    <wsdl:part name="Body" element="tns:Address" />
  </wsdl:message>
  <wsdl:portType name="YAddressWebServiceSoap">
    <wsdl:operation name="Process">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes two address lines on input and returns parsed address with location coordinates on output.</wsdl:documentation>
      <wsdl:input message="tns:ProcessSoapIn" />
      <wsdl:output message="tns:ProcessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="YAddressWebServiceHttpGet">
    <wsdl:operation name="Process">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes two address lines on input and returns parsed address with location coordinates on output.</wsdl:documentation>
      <wsdl:input message="tns:ProcessHttpGetIn" />
      <wsdl:output message="tns:ProcessHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="YAddressWebServiceHttpPost">
    <wsdl:operation name="Process">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes two address lines on input and returns parsed address with location coordinates on output.</wsdl:documentation>
      <wsdl:input message="tns:ProcessHttpPostIn" />
      <wsdl:output message="tns:ProcessHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YAddressWebServiceSoap" type="tns:YAddressWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://yurisw.com/WebServices/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YAddressWebServiceSoap12" type="tns:YAddressWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://yurisw.com/WebServices/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YAddressWebServiceHttpGet" type="tns:YAddressWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Process">
      <http:operation location="/Process" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YAddressWebServiceHttpPost" type="tns:YAddressWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Process">
      <http:operation location="/Process" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YAddressWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Address Correction, Validation, Standardization and Geocoding</wsdl:documentation>
    <wsdl:port name="YAddressWebServiceSoap" binding="tns:YAddressWebServiceSoap">
      <soap:address location="http://app.yurisw.com/YAddressWebService/YAddress.asmx" />
    </wsdl:port>
    <wsdl:port name="YAddressWebServiceSoap12" binding="tns:YAddressWebServiceSoap12">
      <soap12:address location="http://app.yurisw.com/YAddressWebService/YAddress.asmx" />
    </wsdl:port>
    <wsdl:port name="YAddressWebServiceHttpGet" binding="tns:YAddressWebServiceHttpGet">
      <http:address location="http://app.yurisw.com/YAddressWebService/YAddress.asmx" />
    </wsdl:port>
    <wsdl:port name="YAddressWebServiceHttpPost" binding="tns:YAddressWebServiceHttpPost">
      <http:address location="http://app.yurisw.com/YAddressWebService/YAddress.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>